<h2 class="content-block">Orders</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-data-grid id="gridContainer" class="dx-card wide-card" [dataSource]="dataSource" [focusedRowEnabled]="true"
    [focusedRowIndex]="0" [columnAutoWidth]="true" [wordWrapEnabled]="true" keyExpr="id" [showBorders]="true"
    [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="jobNo" column="Job jobNo">
    </dxi-column>
    <dxi-column dataField="specNo" column="Specification No">
    </dxi-column>
    <dxi-column dataField="description" column="Description">
    </dxi-column>
    <dxi-column dataField="qty" column="Quatity">
    </dxi-column>
    <dxi-column dataField="orderDate" column="Order Date" dataType="date" [format]="'yyyy-MM-dd'">
    </dxi-column>
    <dxi-column dataField="stage" column="Stage">
    </dxi-column>
    <dxi-column dataField="progress" column="Progress">
    </dxi-column>
    <dxi-column dataField="predictDate" column="Predict Date" dataType="date" [format]="'yyyy-MM-dd'">
    </dxi-column>
  </dx-data-grid>
</div>
</div>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#gridContainer' }"
[(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
[closeOnOutsideClick]="false">
</dx-load-panel>
